.container {
    max-width: 90%;
}

.article-container{
max-width:90%;
padding:0 20px 0 20px;
margin:0 auto 0 10}

img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}
